.signIn{
    width: 40%;
    background-color: rgb(209, 206, 203);
    margin: 0 auto;
    border-radius: 20px;
    padding: 30px;
    margin-top: 20px;
    animation-delay: 1s;
    animation-duration: 1.2s;
}
form label{
    font-size: 2rem;
}
